default: &default
  adapter: postgresql
  host: localhost
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: cc_app_dev

test:
  <<: *default
  database: cc_app_test

production:
  <<: *default
  database: cc_app_prod
